/* DECLARATIONS */
@font-face {
  font-family: 'JetBrainsMono';
  src: url("../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: 'Josefin_Sans';
  src: url("../fonts/Josefin_Sans/static/JosefinSans-Bold.ttf") format("truetype");
}
/* colors  from https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e */
:root {
  color-scheme: light dark;
  --light-color: black;
  --light-bg: #F9F7F7;
  --light-bg-light: #DBE2EF;
  --light-highlight: #3F72AF;
  --border-radius: 15px;
}

/*MEDIA BREAKPOINTS*/
@media (max-width: 480px)
{
  nav {
    margin-top: 5em;
  }
}

body{
  background-color: var(--light-bg);
  font-family: JetBrainsMono, serif;
  color: var(--light-color);
}

/* HEADINGS */
h1,h2,h3,h4,h5,h6{
  font-family: Josefin_Sans, serif;
  strong {
    color: var(--light-highlight);
  }
}
hgroup, hgroup p{
  background: var(--light-bg-light);
  text-align: left;
  padding: 5%;
  border-radius: 15px;

}

/* OTHER */

button{
  margin: auto;
  display: block;
  color: var(--light-color);
  background-color: var(--light-bg-light);
  border: 2px solid var(--light-bg-light);
  border-radius: var(--border-radius);
  scale: 1.5;
  transition: scale 20s ease-in-out;
}
button:hover{
  background-color: var(--light-highlight);
  scale: 1000;

  color: var(--light-bg);

}

a{
  color: #000000;
}

img{
  border-radius: 15px;
  width: 100%;
}

.container{
  margin-top: 1em;
}

p{
  overflow-wrap: break-word;
  text-align: justify;
}
p:first-letter {
  text-transform: uppercase;
  font-size: 250%;
  font-weight: bold;
}

.row{
  margin-top: 10vh;
  margin-bottom: 10vh;
}


/* slider */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}

.slider {
  height: 100px;
  overflow:hidden;
  position: relative;
  width: auto;

  .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slide {
    height: 100px;
    width: 250px;
  }
}

/* NAV */
nav .container{
  max-width: 1300px;
  text-align: center;

}
nav {
  text-align: center;
  height: 10%;

}

nav .container .row{
  margin-bottom: 1em;
  margin-top: 1em;
}



