.navbar {
  text-align: center;
  height: 10%;
}
.container{
  margin-top: 1em;
}



@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}

.slider {
  height: 100px;
  margin: auto;
  overflow:hidden;
  position: relative;
  width: auto;

  .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slide {
    height: 100px;
    width: 250px;
  }
}

.fullscreen.image{
  width: 100vw;
  background-image:  url('../img/main_image.avif');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}
